{{> header @root}}
<div class="product">
  {{#with product}}
  <img src="http://localhost:3000/images/products/{{filename}}" class="product__image">
  <div class="product__info">
    <div style="display: none">{{sku_id}}</div>
    <div>
      <h2>{{name}}</h2>
      <p class="product__price">{{price}}€</p>
      <p>{{description}}</p>
    </div>
    <div class="product__basket">
      <input type="number" min="1" max="10" class="form__input" id="quantity" value="1">
      <button type="button" id="add-basket" class="form__button product__button">Ajouter au panier</button>
    </div>
  </div>
  {{/with}}
</div>

<script src="http://localhost:3000/js/updateBasket.js"></script>
