{{> header @root}}
<div class="products">
  <h1>Votre panier</h1>
  {{#each products}}
  <div class="basket-product box">
    <img src="http://localhost:3000/images/products/{{main_image}}" alt="" class="basket-product__logo">
    <div class="basket-product__info">
      <div class="basket-product__text">
        <p>{{name}}</p>
        <p>{{price}}€</p>
      </div>
      <div class="basket-product__quantity">
        <input type="number" min="0" max="10" value="{{quantity}}" class="basket-product__input">
        <p>Total: {{total_price}}€</p>
      </div>
    </div>
  </div>
  {{/each}}
  <p class="products__total">Prix total: {{total}}€</p>
</div>
